In [ ]:
import requests

url = "https://new.land.naver.com/api/complexes/single-markers/2.0?cortarNo=1168010300&zoom=16&priceType=RETAIL&markerId=19204&markerType=COMPLEX&selectedComplexNo&selectedComplexBuildingNo&fakeComplexMarker&realEstateType=APT&tradeType=&tag=%3A%3A%3A%3A%3A%3A%3A%3A&rentPriceMin=0&rentPriceMax=900000000&priceMin=0&priceMax=900000000&areaMin=0&areaMax=900000000&oldBuildYears&recentlyBuildYears&minHouseHoldCount&maxHouseHoldCount&showArticle=false&sameAddressGroup=false&minMaintenanceCost&maxMaintenanceCost&directions=&leftLon=127.0453756&rightLon=127.0814244&topLat=37.4906555&bottomLat=37.4752797"

payload={}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload)

print(response.text)

In [15]:
import json

In [31]:
import json, pandas as pd

a_json = open('response.json', encoding = 'utf-8')
a_dict = json.load(a_json)	#=> 파이썬 자료형(딕셔너리나 리스트)으로 반환

In [45]:
from bs4 import BeautifulSoup
import requests

In [46]:
url = "https://www.kamis.or.kr/customer/price/retail/catalogue.do?action=monthly&yyyy=2022&mm=01&countycode=1101&itemcategorycode=500&convert_kg_yn=N&convert_kg_yn=N"
response = requests.get(url)

soup = BeautifulSoup(response.content,"html.parser")

In [108]:
item = soup.select('table.wtable3 > tr > td')[131].get_text()
price = soup.select('table.wtable3 > tr > td')[134].get_text().replace(',',"")
previousPrice = soup.select('table.wtable3 > tr > td')[135].get_text().replace(',',"")
fluctuationRate = soup.select('table.wtable3 > tr > td')[137].get_text()

'계란'

In [190]:
item =[]
price =[]
price= []
previousPrice = []
year =[]
month = []
fluctuationRate = []
cnt=1


#itemTable_1 > tbody > tr:nth-child(20) > td:nth-child(4)
#itemTable_1 > tbody > tr:nth-child(20) > td.first.cell_tit1
#itemTable_1 > tbody > tr:nth-child(5) > td.first.cell_tit1
for y in range(2000,2023,1):
    for m in range(1,13):
        url = "https://www.kamis.or.kr/customer/price/retail/catalogue.do?action=monthly&yyyy={}&mm={}&countycode=&itemcategorycode=500&convert_kg_yn=N&convert_kg_yn=N".format(y,m)
        response = requests.get(url)

        soup = BeautifulSoup(response.content,"html.parser")

        while True:
            print(cnt)
            item2 = soup.select('table.wtable3 > tr > td')[cnt].get_text()
            cnt += 1

            if(item2 == "계란"):
                item.append(item2)

                price.append(soup.select('table.wtable3 > tr > td')[cnt+3].get_text().replace(',',""))
                previousPrice.append(soup.select('table.wtable3 > tr > td')[cnt+4].get_text().replace(',',""))
                fluctuationRate.append(soup.select('table.wtable3 > tr > td')[cnt+6].get_text())
                year.append("{}년".format(y))
                month.append("{}월".format(m))
                break
    print(y)

1

IndexError: list index out of range

In [194]:



item = soup.select('table.wtable3 > tr > td')[131].get_text()
price = soup.select('table.wtable3 > tr > td')[134].get_text().replace(',',"")
previousPrice = soup.select('table.wtable3 > tr > td')[135].get_text().replace(',',"")
fluctuationRate = soup.select('table.wtable3 > tr > td')[137].get_text()

IndexError: list index out of range

In [195]:
item

['계란']

In [236]:
monthLis =['01','02','03','04','05','06','07','08','09','10','11','12']

item =[]
price =[]
previousPrice = []
year =[]
month = []
fluctuationRate = []
cnt = 1

for y in range(2000,2023,1):
    print(y)
    for m in monthLis:
        url = "https://www.kamis.or.kr/customer/price/retail/catalogue.do?action=monthly&yyyy={}&mm={}&countycode=&itemcategorycode=500&convert_kg_yn=N&convert_kg_yn=N".format(y,m)
        response = requests.get(url)

        soup = BeautifulSoup(response.content,"html.parser")

        try:
            while True:
                item2 = soup.select('table.wtable3 > tr > td')[cnt].get_text()
                cnt += 1


                if(item2 == "계란"):
                    item.append(item2)

                    price.append(soup.select('table.wtable3 > tr > td')[cnt+2].get_text().replace(',',""))
                    previousPrice.append(soup.select('table.wtable3 > tr > td')[cnt+3].get_text().replace(',',""))
                    fluctuationRate.append(soup.select('table.wtable3 > tr > td')[cnt+5].get_text())
                    year.append("{}년".format(y))
                    month.append("{}월".format(m))
                    cnt=0
                    break
        except:
            pass

2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022

In [237]:
df = pd.DataFrame([ x for x in zip(item,price,previousPrice,year,month,fluctuationRate)])

In [239]:
df.to_excel("계란값비교.xlsx")

In [245]:
df.columns = ['품목','월평균','전원평균','년','월','등락률']
df

     품목   월평균  전원평균      년    월    등락률
0    계란  2680  2551  2000년  01월    5.1
1    계란  2732  2680  2000년  02월    1.9
2    계란  2539  2732  2000년  03월   -7.1
3    계란  2225  2539  2000년  04월  -12.4
4    계란  2252  2225  2000년  05월    1.2
..   ..   ...   ...    ...  ...    ...
263  계란  6256  5983  2021년  12월    4.6
264  계란  6255  6256  2022년  01월   -0.0
265  계란  6182  6255  2022년  02월   -1.2
266  계란  6420  6182  2022년  03월    3.9
267  계란  6639  6420  2022년  04월    3.4

[268 rows x 6 columns]

In [252]:
egg2020 = df[df["년"] == "2020년"]

In [255]:
import matplotlib as mpl
import matplotlib.font_manager as fm
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

font_name = fm.FontProperties(fname="C:/Windows/Fonts/malgun.ttf").get_name()
plt.rc('font', family=font_name)

warnings.filterwarnings(action='ignore')
# seaborn 의 set 기능을 통해 폰트 설정
# "Malgun Gothic"

plt.figure(figsize=(15,10)) # size
plt.title('BMW 모델 별 누적판매량 순위', size= 20)
plt.grid(True) #눈금
plt.rotation=45
plt.barplot(x="월", y="월평균", data=egg2020)

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
!pip install seaborn